<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<string>无花果</string>
		<key>1</key>
		<string>开宝</string>
		<key>2</key>
		<string>荒翻</string>
		<key>3</key>
		<string>杠开</string>
		<key>4</key>
		<string>门清</string>
		<key>5</key>
		<string>混碰</string>
		<key>6</key>
		<string>清碰</string>
		<key>7</key>
		<string>大吊车</string>
		<key>8</key>
		<string>清一色</string>
		<key>9</key>
		<string>混一色</string>
		<key>10</key>
		<string>碰碰胡</string>
		<key>11</key>
		<string>垃圾胡</string>
		<key>12</key>
		<string>抢杠</string>
		<key>13</key>
		<string>一炮双响</string>
		<key>14</key>
		<string>一炮三响</string>
		<key>male</key>
		<string>男</string>
		<key>female</key>
		<string>女</string>
		<key>haoyou</key>
		<string>好友</string>
		<key>yaoqing</key>
		<string>邀请您一起游戏</string>
		<key>tongyi</key>
		<string>是否同意</string>
		<key>zuoman</key>
		<string>好友房间已坐满</string>
		<key>wanjinbi</key>
		<string>万金币</string>
		<key>shouchongzeng</key>
		<string>首充赠</string>
		<key>panshu</key>
		<string>盘数</string>
		<key>heji</key>
		<string>合计</string>
		<key>kongzhangdan</key>
		<string>你还没有与好友进行过游戏</string>
		<key>wan</key>
		<string>万</string>
		<key>hao</key>
		<string>号</string>
		<key>text_info_0</key>
		<string>输入的复盘码不正确</string>
		<key>text_info_1</key>
		<string>再打一盘我要走了拿慢慢叫白相</string>
		<key>text_info_2</key>
		<string>今朝弄风头特好了</string>
		<key>text_info_3</key>
		<string>今朝手气太忒班了</string>
		<key>text_info_4</key>
		<string>弄打牌打的特老巨了</string>
		<key>text_info_5</key>
		<string>勿要吵了，专心眼打</string>
		<key>text_info_6</key>
		<string>我就等自摸了，那勿要出冲啊</string>
		<key>text_info_7</key>
		<string>动作快眼，多想有啥想头</string>
		<key>text_info_8</key>
		<string>今朝额骨头碰着天花板，想撒来撒</string>
		<key>text_info_9</key>
		<string>辣末一盘，打好差路</string>
		<key>text_info_10</key>
		<string>哪嫩意思啦，侬帮我豁大咯，侬帮我豁胖咯！</string>
		<key>text_info_11</key>
		<string>朋友哪意思啦，掰种牌啊打得出来呃！</string>
		<key>text_info_12</key>
		<string>哪特结棍了，放着码头跳跳啊。</string>
		<key>text_info_13</key>
		<string>认得哪算我路道粗。</string>
		<key>text_info_14</key>
		<string>唉，今朝霉头触到哈尔滨。</string>
		<key>text_info_15</key>
		<string>今朝赢了噶西多，谢谢老板送米</string>
		<key>text_info_16</key>
		<string>伐好意思，手滑打错了。</string>
		<key>text_info_17</key>
		<string>桑活要弄弄清，勿能哈来来。</string>
		<key>text_info_18</key>
		<string>伐弄伊三口，伐适意额。</string>
		<key>text_info_19</key>
		<string>朋友，好叫，小麻将搞的的噶度组撒？</string>
		<key>text_info_20</key>
		<string>伐好意思，我又要听张了</string>
		<key>text_info_21</key>
		<string>上碰下自摸</string>
		<key>rule_text_1</key>
		<string>游戏规则:</string>
		<key>rule_text_2</key>
		<string>玩法:上海麻将敲麻</string>
		<key>rule_text_3</key>
		<string>番数算法:</string>
		<key>rule_text_4</key>
		<string>底分:不同房间不同底分</string>
		<key>rule_text_5</key>
		<string>花分:不同房间不同花分</string>
		<key>rule_text_6</key>
		<string>勒子封顶值:按照1分底1分花算,勒子峰顶值20分</string>
		<key>rule_text_7</key>
		<string>底分+花分=输赢分数</string>
		<key>rule_text_8</key>
		<string>翻数算法:</string>
		<key>rule_text_9</key>
		<string>门清*2</string>
		<key>rule_text_10</key>
		<string>大吊车*2</string>
		<key>rule_text_11</key>
		<string>杠开*2&quot;</string>
		<key>rule_text_12</key>
		<string>碰碰胡*2</string>
		<key>rule_text_13</key>
		<string>混一色*2</string>
		<key>rule_text_14</key>
		<string>混碰勒子</string>
		<key>rule_text_15</key>
		<string>清一色勒子</string>
		<key>rule_text_16</key>
		<string>清碰2倍勒子</string>
		<key>rule_text_17</key>
		<string>以上翻数最多翻到勒子,勒子是20,那最大值就是20</string>
		<key>rule_text_18</key>
		<string>清碰2个勒子，勒子20,最大值就是40</string>
		<key>rule_text_19</key>
		<string>开宝*2</string>
		<key>rule_text_20</key>
		<string>荒翻*2</string>
		<key>rule_text_21</key>
		<string>有开宝和荒翻的情况下,勒子翻倍</string>
		<key>rule_text_22</key>
		<string>计分规则：底分2分或10分,自摸算2分或10分</string>
		<key>rule_text_23</key>
		<string>放杠出：底分*1倍*3</string>
		<key>rule_text_24</key>
		<string>接杠得：底分*1倍*3</string>
		<key>rule_text_25</key>
		<string>A玩家公杠,其他三人每人出1倍底分,A玩家得3*1倍底分</string>
		<key>rule_text_26</key>
		<string>A玩家暗杠,其他三人每人处2倍底分,A玩家得3*2倍底分</string>
		<key>rule_text_27</key>
		<string>自摸，每人出1倍底分，再算翻码</string>
		<key>rule_text_28</key>
		<string>扎码规则:</string>
		<key>rule_text_29</key>
		<string>A、1,5,9,红中算鸟,有人胡牌后,从墩上摸牌,不管哪家,</string>
		<key>rule_text_30</key>
		<string>都是1,5,9,红中算鸟.中1个鸟,则每人多出1倍底分,</string>
		<key>rule_text_31</key>
		<string>中2个则每人多出2倍底分，中4个则每人多出4倍底分.</string>
		<key>rule_text_32</key>
		<string>B、1,5,9算鸟,有人胡牌后,从墩上摸牌,不管哪家,</string>
		<key>rule_text_33</key>
		<string>都是1,5,9算鸟.中1个鸟,则每人多出1倍底分,</string>
		<key>rule_text_34</key>
		<string>中2个则每人多出2倍底分,中3个则每人多出3倍底分</string>
		<key>rule_text_35</key>
		<string>C、抓一个鸟,鸟是几点就算几倍,红中算10倍*底分,</string>
		<key>rule_text_36</key>
		<string> 如5筒算5倍*底分,9条算9倍*底分.</string>
		<key>rule_text_37</key>
		<string>抢杠胡:只可抢公杠，抢杠后不能翻码。</string>
		<key>rule_text_38</key>
		<string>杠开番数*2</string>
		<key>room_info_0</key>
		<string>房间类型:</string>
		<key>room_info_1</key>
		<string>,局数</string>
		<key>room_info_2</key>
		<string>,无开宝</string>
		<key>room_info_3</key>
		<string>,开宝</string>
		<key>room_info_4</key>
		<string>,无勒子</string>
		<key>room_info_5</key>
		<string>,40勒子</string>
		<key>room_info_6</key>
		<string>,二模三冲</string>
		<key>room_info_7</key>
		<string>,1/1 无勒子</string>
		<key>room_info_8</key>
		<string>,1/1 20勒子</string>
		<key>room_info_9</key>
		<string>,6/2 50勒子</string>
		<key>room_info_10</key>
		<string>,2/2 无勒子</string>
		<key>room_info_11</key>
		<string>,2/2 40勒子</string>
		<key>room_info_12</key>
		<string>,5/5 100勒子</string>
		<key>room_info_13</key>
		<string>,159红中算码</string>
		<key>room_info_14</key>
		<string>,159码</string>
		<key>room_info_15</key>
		<string>,1码</string>
		<key>room_info_16</key>
		<string>,底分</string>
		<key>room_info_17</key>
		<string>,二人模式</string>
		<key>dialog_text_1</key>
		<string>返回大厅,如需解散房间,请按解散房间按钮</string>
		<key>dialog_text_2</key>
		<string>是否退出当前房间?</string>
		<key>dialog_text_3</key>
		<string>游戏未开始前解散房间不扣除房卡,是否解散?</string>
		<key>dialog_text_4</key>
		<string>房间已经解散或游戏已经结束!</string>
		<key>dialog_text_5</key>
		<string>你的账号在其他客户端登录</string>
		<key>dialog_text_6</key>
		<string>不同意解散房间</string>
		<key>dialog_text_7</key>
		<string>同意解散房间</string>
		<key>dialog_text_8</key>
		<string>请输入正确的手机号</string>
		<key>dialog_text_9</key>
		<string>请输入正确的收件信息</string>
		<key>dialog_text_10</key>
		<string>金币不足,请充值</string>
		<key>dialog_text_11</key>
		<string>正在游戏中,无法抽奖</string>
		<key>dialog_text_12</key>
		<string>未达成抽奖条件</string>
		<key>dialog_text_13</key>
		<string>请输入您的真实姓名</string>
		<key>dialog_text_14</key>
		<string>请输入您的身份证号</string>
		<key>dialog_text_15</key>
		<string>输入的身份证号码不正确</string>
		<key>dialog_text_16</key>
		<string>游戏金币不足</string>
		<key>dialog_text_17</key>
		<string>加客服微信majiang01免费获得房卡</string>
		<key>dialog_text_18</key>
		<string>你已经完成实名认证</string>
		<key>dialog_text_19</key>
		<string>房主已经解散了房间</string>
		<key>dialog_text_20</key>
		<string>你的账号在其他客户端登录</string>
		<key>dialog_text_21</key>
		<string>充值成功</string>
		<key>dialog_text_22</key>
		<string>充值失败</string>
		<key>dialog_text_23</key>
		<string>领取成功</string>
		<key>dialog_text_24</key>
		<string>确定要离开游戏吗？</string>
		<key>dialog_text_25</key>
		<string>房间已解散或游戏已结束</string>
		<key>xioahao</key>
		<string>消耗</string>
		<key>lequan</key>
		<string>乐券</string>
		<key>game_type_1</key>
		<string>上海敲麻</string>
		<key>game_type_2</key>
		<string>红中麻将</string>
	</dict>
</array>
</plist>
